#header{
	background-image:-webkit-linear-gradient(to top,#222,gray);
	background-image:linear-gradient(to top,#222,gray);
	width:100%;
	color:white;
	height:55px;
	padding: 10px 0px;
}

#header div{
	display:inline-block;

}

#header>div{
	padding:0px 2%;
}

#login{
	width: 60%;
	text-align:right;
	float: right;
}

#login div{
	padding:0px 0.4%; 
}

#login input{
	color:gray;
}

input[type="checkbox"]{
	vertical-align:middle;
}

#main{
	width:100%;
	height:700px;
	background:#eee;
}

#main-1{
	background:url("../images/index-main-bg.jpg") center no-repeat;
	width: 90%;
	height: 700px;
	margin: 0px auto;
}
#main-2{
	width: 70%;
	height: 640px;
	border: 1px gray solid;
	margin: auto;
	position: relative;
	top: 4%;
}

#main-2 .row1 div,#main-2 #left,#main-2 #right{
	float:left;
}

#main-2 .row2 div{
	color:white;
	margin: 10px 15px;
}

#main-2 .row2 div.input input[type="text"]{
	color:gray;
}

#main-2 .row2 div input{
	width:100%;
}

#left{
	width:25%;
	height:inherit;
	background:#3c3c3c;
}
#right{
	width:75%;
	height:inherit;
	background:white;
}

.row1{
	width:100%;
	height:50px;
	background:#3c3c3c;
	color:white;
}

.row2{
	width:100%;
	height:590px;
}

.row1 div{
	width:33.33333%;
	height:inherit;
	text-align:center;
	line-height: 50px;
	border-top:6px #3c3c3c solid;
}

.row1 .active{
	border-top:6px #f08707 solid;
}

.row2 input[type="button"]{
	background:#E68510;
	padding:10px 0px;
	border-radius:0.3rem;
	border:0px;
}

.small {
	font-size:0.85rem;
	text-align:right;
}

.w-img{
	width:100%;
	height:auto;
}

.row2 a{
	display:block;
	margin:auto;
	width: 85%;
	height:190px;
	line-height:190px;
}

